/* common selector start */

:root {
    --brand-color: #007A56;
    --primary-color:  #F8F4F0;
    --Secondary-color:  #3C8D53;
    --color-white: #fff;
    --color-dark: #000;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}
/* navbar start */
.navbar .brandicon{
    width: 20px;
    height: 20px;
}
.navbar .navbar-nav .nav-item .active{
    color: var(--brand-color);
}
.nav-item{
    display: inline-block;
    position: relative;
    transition: .5s linear;
}
.navbar-nav{
    display: inline-block;
}
.navbar-nav .nav-link:hover{
    color: var(--brand-color);
}
.nav-item:hover::after{
    content:"";
    position: absolute;
    left: 5px;
    bottom: 0px;
    width: 90%;
    height: 3px;
    background: var(--brand-color);
}
/* button start */
.navbar .nav_button .fastbutton{
    color:var(--brand-color);
    background:var(--color-white);
}
 .navbar .nav_button .fastbutton:hover{
    color: var(--color-white);
    background:var(--brand-color);
}
.navbar .nav_button .secondbutton:last-child {
    color: var(--color-white);
    background:var(--brand-color);
}
.navbar .nav_button .secondbutton:last-child:hover{
    color: var(--brand-color);
    background:var(--color-white);
} 
/* button end */
/* navbar end */
/* header start */
/* button start*/
.header .last_button{
    color: var(--brand-color);
    background: var(--color-white);
    
}
.header .last_button:hover{
    color:var(--color-white);
    background:var(--brand-color);
}
    
.header .fast_button{
    color:var(--color-white);
    background:var(--brand-color);
    
}
.header .fast_button:hover{
    color: var(--brand-color);
    background: var(--color-white);
}
.visionary_img .img-fluid{
    transition: 1s linear;
}
.visionary_img .img-fluid:hover{
    cursor: pointer;
    transform: skew(-5deg);
}
/* header end */
/* services :start */
.services{
    background:var(--primary-color);
    margin-top: 50px;
    padding-top: 50px;
}
.services .btn-success:hover,
.news_section .newsbutton .btn-success:hover{

    color: var(--brand-color);
    background: var(--color-white);
}
.service_img .img-fluid{
    transition: 1s linear;
}
.service_img .img-fluid:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.service_img{
    overflow: hidden;
    border-radius: 15px;
}
/* services :end */
/* adout_ section :start */
.about_us a.btn-success{
    color:var(--color-white);
    background:var(--brand-color);
}
.about_us a.btn-success:hover{
    color: var(--brand-color);
    background: var(--color-white);
}
.about_us .img-fluid{
    transition: 1s linear;
}
.about_us .img-fluid:hover{
    cursor: pointer;
    transform: matrix(1, 0, 0.5, 1, 150, 0);
}
/* adout_ section :end */
/* news_section :start */
.news_section .news_img{
    transition: 1s linear;
}
.news_section .news_img:hover{
    cursor: pointer;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

/* news_section :end */
/* important :start */
.important {
    background: var(--primary-color);
}
/*important :end */
/* Subscribe start */

.Subscribe .form-control{
    border-color: var(--brand-color);
    width: 300px;
    display: inline;
    padding-top: 1px;
}
.Subscribe .btn-outline-secondary{
    height: 58px;
    padding-top: 5px;
    background:var(--brand-color);
    color:var(--color-white);
    border: 1px solid var(--brand-color);
}
.Subscribe .btn-outline-secondary:hover{
    color: var(--brand-color);
    background: var(--color-white);
    border: 1px solid var(--brand-color);
}
.Subscribe .need_section{
    max-width: 500px;
}
/* Subscribe end */
/* footer :start */
.footer{
    background: var(--color-dark);
    color: var(--color-white);
}
.footer .brandicon{
    width: 25px;
    height: 25px;
}
.footer a{
    color: var(--color-white);
    margin-bottom: 10px;
    text-decoration: none;
}
/* footer :end */
