/* common selector start */

:root {
    --brand-color: #007A56;
    --primary-color:  #F8F4F0;
    --Secondary-color:  #3C8D53;
    --color-white: #fff;
    --color-dark: #000;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}
/* navbar start */
.navbar .brandicon{
    width: 20px;
    height: 20px;
}
.navbar .navbar-nav .nav-item .active{
    color: var(--brand-color);
}
.nav-item{
    display: inline-block;
    position: relative;
    transition: .5s linear;
}
.navbar-nav{
    display: inline-block;
}
.navbar-nav .nav-link:hover{
    color: var(--brand-color);
}
.nav-item:hover::after{
    content:"";
    position: absolute;
    left: 5px;
    bottom: 0px;
    width: 90%;
    height: 3px;
    background: var(--brand-color);
}
/* button start */
.navbar .btn-success{
    color:var(--brand-color);
    background:var(--color-white);
}
 .navbar .btn-success:hover{
    color: var(--color-white);
    background:var(--brand-color);
}
.navbar .btn-success:last-child {
    color: var(--color-white);
    background:var(--brand-color);
}
.navbar .btn-success:last-child:hover{
    color: var(--brand-color);
    background:var(--color-white);
} 
/* button end */
/* navbar end */
/* header start */
/* button start*/
.header .btn-success:last-child{
    color: var(--brand-color);
    background: var(--color-white);
    
}
.header .btn-success:last-child:hover{
    color:var(--color-white);
    background:var(--brand-color);
}
    
.header .btn-success{
    color:var(--color-white);
    background:var(--brand-color);
    
}
.header .btn-success:hover{
    color: var(--brand-color);
    background: var(--color-white);
}

/* header end */
/* services :start */
.services{
    background:var(--primary-color);
    margin-top: 50px;
    padding-top: 50px;
}
.services .btn-success:hover,
.news_section .newsbutton .btn-success:hover,
.about-us .aboutbutton .btn-success:hover{
    color: var(--brand-color);
    background: var(--color-white);
}
/* services :end */
/* important :start */
.important {
    background: var(--primary-color);
}
/*important :end */
/* Subscribe start */

.Subscribe .form-control{
    border-color: var(--brand-color);
    width: 300px;
    display: inline;
    padding-top: 1px;
}
.Subscribe .btn-outline-secondary{
    height: 58px;
    padding-top: 5px;
    background:var(--brand-color);
    color:var(--color-white);
    border: 1px solid var(--brand-color);
}
.Subscribe .btn-outline-secondary:hover{
    color: var(--brand-color);
    background: var(--color-white);
    border: 1px solid var(--brand-color);
}
.Subscribe .need_section{
    max-width: 500px;
}
/* Subscribe end */
/* footer :start */
.footer{
    background: var(--color-dark);
    color: var(--color-white);
}
.footer .brandicon{
    width: 25px;
    height: 25px;
}
.footer a{
    color: var(--color-white);
    margin-bottom: 10px;
    text-decoration: none;
}
/* footer :end */
