/* navbar start */
.navbar .brandicon{
    width: 20px;
    height: 20px;
}
.navbar .navbar-nav .nav-item .active{
    color: #007A56;
}
.navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: #007A56;
}
/* button start */
.navbar .fastbutton{
    color: #007A56;
    background: #fff;
}
.navbar .fastbutton:hover{
    color: #fff;
    background:#007A56;
}
.navbar .secondbutton{
    color: #fff;
    background:#007A56;
    
}
.navbar .secondbutton:hover{
    color: #007A56;
    background: #fff;
}
/* button end */
/* navbar end */
/* header start */
/* button */
.header .secondbutton{
    color: #007A56;
    background: #fff;
}
.header .secondbutton:hover{
    color: #fff;
    background:#007A56;
}
.header .fastbutton{
    color: #fff;
    background:#007A56;
    
}
.header .fastbutton:hover{
    color: #007A56;
    background: #fff;
}
/* header end */
/* services :start */
.services{
    background: #F8F4F0;
    margin-top: 50px;
    padding-top: 50px;
}
.services .btn-success:hover,
.news_section .newsbutton .btn-success:hover,
.about-us .aboutbutton .btn-success:hover{
    color: #007A56;
    background: #fff;
}
/* services :end */
/* important :start */
.important {
    background: #F8F4F0;

}
/*important :end */